<div id="<%= dom_id playlist %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= playlist.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= playlist.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Users:</strong>
    <%= playlist.user_id %>
  </p>

</div>
