<div class="flow-root rounded-lg border border-blue-200 bg-blue-50 py-6 shadow-lg">
  <dl class="-my-3 divide-y divide-blue-200 text-sm">
    <div class="grid grid-cols-1 gap-2 p-4 even:bg-blue-100 sm:grid-cols-3 sm:gap-6">
      <dt class="font-medium text-blue-800">Nama</dt>
      <dd class="text-blue-700 sm:col-span-2">SPOTIPI</dd>
    </div>

    <div class="grid grid-cols-1 gap-2 p-4 even:bg-blue-100 sm:grid-cols-3 sm:gap-6">
      <dt class="font-medium text-blue-800">Untuk</dt>
      <dd class="text-blue-700 sm:col-span-2">Music</dd>
    </div>

    <div class="grid grid-cols-1 gap-2 p-4 even:bg-blue-100 sm:grid-cols-3 sm:gap-6">
      <dt class="font-medium text-blue-800">Rilis</dt>
      <dd class="text-blue-700 sm:col-span-2">19 July 2024</dd>
    </div>

    <div class="grid grid-cols-1 gap-2 p-4 even:bg-blue-100 sm:grid-cols-3 sm:gap-6">
      <dt class="font-medium text-blue-800">Credit</dt>
      <dd class="text-blue-700 sm:col-span-2">magang_sttc_app</dd>
    </div>

    <div class="grid grid-cols-1 gap-2 p-4 even:bg-blue-100 sm:grid-cols-3 sm:gap-6">
      <dt class="font-medium text-blue-800">Tentang</dt>
      <dd class="text-blue-700 sm:col-span-2">
        SPOTIPI adalah sebuah aplikasi musik revolusioner yang menyediakan akses ke jutaan lagu dari seluruh penjuru dunia, baik secara online maupun offline. Aplikasi ini dirancang untuk memberikan kemudahan kepada pengguna dalam menikmati musik favorit mereka kapan saja dan di mana saja. Dengan antarmuka yang intuitif dan berbagai fitur unggulan, SPOTIPI memungkinkan pengguna untuk menjelajahi, mengunduh, dan memutar musik dengan mudah. Pengguna dapat membuat playlist pribadi, mengikuti artis favorit, dan menemukan musik baru yang sesuai dengan selera mereka. SPOTIPI memastikan pengalaman mendengarkan musik yang seamless dan memuaskan bagi setiap penggunanya.
      </dd>
    </div>
  </dl>
</div>
