<section class="bg-blue-50">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <p class="max-w-xl text-lg text-gray-700">
          Pada waktu yang sama, kami menghadirkan kenyamanan bagi Anda. Beritahukan keluhan Anda sekarang!
        </p>
        <div class="mt-8">
          <a href="#" class="text-2xl font-bold text-blue-600"> Location </a>

          <address class="mt-2 not-italic text-gray-600">
            Lapangbola HQ, Ruko Puri Dago Arcamanik, Jl. Terusan Jakarta No.388 Blok 54, Sukamiskin, Kec. Arcamanik, Kota Bandung, Jawa Barat 40291
          </address>
        </div>
      </div>

      <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12 border border-blue-200">
        <form action="#" class="space-y-4">
          <div>
            <label class="sr-only" for="name">Nama</label>
            <input
              class="w-full rounded-lg border border-blue-200 p-3 text-sm"
              placeholder="Nama"
              type="text"
              id="name"
            />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              <input
                class="w-full rounded-lg border border-blue-200 p-3 text-sm"
                placeholder="Email"
                type="email"
                id="email"
              />
            </div>

            <div>
              <label class="sr-only" for="phone">Phone</label>
              <input
                class="w-full rounded-lg border border-blue-200 p-3 text-sm"
                placeholder="No. Telpon"
                type="tel"
                id="phone"
              />
            </div>
          </div>

          <div>
            <label class="sr-only" for="message">Message</label>
            <textarea
              class="w-full rounded-lg border border-blue-200 p-3 text-sm"
              placeholder="Pesan"
              rows="8"
              id="message"
            ></textarea>
          </div>

          <div class="mt-4">
            <button
              type="submit"
              class="inline-block w-full rounded-lg bg-blue-500 px-5 py-3 font-medium text-white sm:w-auto hover:bg-blue-600 transition-colors duration-300"
            >
              Kirim
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
