<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @album %>

    <%= link_to "Back to albums", client_albums_path, class: "rounded-lg py-3 px-6 bg-yellow-500 text-white font-medium hover:bg-yellow-600 transition-colors duration-300 shadow-lg" %>
    <div class="inline-block ml-2">
      </div>
  </div>
</div>
